@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Exo+2:ital,wght@1,900&family=Monofett&family=Raleway:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Exo+2:ital,wght@1,900&family=Monofett&family=Raleway:ital,wght@0,900;1,800&display=swap');
body{
    background: url("background1.jpg");
}
#h1{
    margin-top: 0px;
    padding-top: 60px;
    width: 100%; 
    height: 200px;
    font-family: 'Cinzel', serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Monofett', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    display: inline-block;
    background-color: #546A7B;
    text-shadow: 2px 2px #FAE1DF;
    color: #0D1F2D;
    padding-left: 750px;
}
#h2{
    font-size: 20px;
}
canvas{
    border-width: 5px;
    border-color: white;
    box-shadow: 10px 10px 30px grey;
    border-radius: 5px;
}
.copyright_footer{
    position: fixed;
    color: rgb(218, 252, 224);
    bottom: 0;
    width: 100%;
    background-color: rgb(115, 130, 118);
    line-height: 3;
    text-align: center;
}
.button1{
    background-color: #546A7B;
    text-shadow: 2px 2px #FAE1DF;
    color: #0D1F2D;
    font-family: 'Cinzel', serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Monofett', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    width: 10em;
    height: 50px;
    border: none;
    border-radius: 7px;
}
.button2{
    background-color: #9EA3B0;
    text-shadow: 2px 2px #FAE1DF;
    color: #0D1F2D;
    font-family: 'Cinzel', serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Monofett', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    width: 10em;
    height: 50px;
    border: none;
    border-radius: 7px;
    margin-left: 400px;
}